@inject ClassService classService

<div class="class-selector">
    @if (classes == null)
    {
        <div>Loading ...</div>
    }
    else
    {
        foreach (var item in classes)
        {
            <div class="@((SelectedClass?.Key ?? -1) == item.Key ? "active" : "")" @onclick="e => OnClassSelected.InvokeAsync(item)">
                <img src="img/classes/@(item.Key).png" />
            </div>
        }
    }
</div>

@code {
    private IList<TalentClass> classes;

    [Parameter]
    public EventCallback<TalentClass> OnClassSelected { get; set; }

    [Parameter]
    public TalentClass SelectedClass { get; set; }

    protected override void OnInitialized()
    {
        classes = classService.GetTalentClasses();
    }
}
