.spec-trees {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    width: max-content;
    margin: 0 auto;
}

.spec-trees.c3 { box-shadow: 0 0 10px 0px var(--druid); }
.spec-trees.c4 { box-shadow: 0 0 10px 0px var(--hunter); }
.spec-trees.c5 { box-shadow: 0 0 10px 0px var(--mage); }
.spec-trees.c6 { box-shadow: 0 0 10px 0px var(--monk); }
.spec-trees.c7 { box-shadow: 0 0 10px 0px var(--paladin); }
.spec-trees.c8 { box-shadow: 0 0 10px 0px var(--priest); }
.spec-trees.c9 { box-shadow: 0 0 10px 0px var(--rogue); }
.spec-trees.c10 { box-shadow: 0 0 10px 0px var(--shaman); }
.spec-trees.c11 { box-shadow: 0 0 10px 0px var(--warlock); }
.spec-trees.c12 { box-shadow: 0 0 10px 0px var(--warrior); }
